In [1]:
import motor.motor_asyncio
from pprint import pprint
import asyncio
from config import mongo_config
import pandas as pd

In [2]:
client = motor.motor_asyncio.AsyncIOMotorClient()
shards = ",".join(mongo_config["shards"])
client = motor.motor_asyncio.AsyncIOMotorClient(f'mongodb://{mongo_config["username"]}:{mongo_config["pwd"]}@{shards}?authSource=admin&readPreference=primary&ssl=true')
db = client["house-price-db"]
collection = db["house-price"]

In [8]:
async def do_find(collection, n: int = 0):

    if n == 0:
        cursor = collection.find()
    else:
        cursor = collection.find().limit(n)
    
    all_docs = []
    async for document in cursor:
        all_docs.append(document)
    return all_docs

In [9]:
docs = await do_find(collection, 20)
print("\n[INFO] : Data successfully pulled from Mongo DB!\n")

[INFO] : Data successfully pulled from Atlas DB!

In [10]:
df = pd.DataFrame.from_records(docs)
print(df.shape)

(21613, 22)

In [11]:
df.head()

,_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,60a3d6e8bb6ca0237c0939a8,7129300520,20141013T000000,221900,3,1,1180,5650,1,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,60a3d6e8bb6ca0237c0939a9,6414100192,20141209T000000,538000,3,2.25,2570,7242,2,0,...,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
2,60a3d6e8bb6ca0237c0939aa,5631500400,20150225T000000,180000,2,1,770,10000,1,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,60a3d6e8bb6ca0237c0939ab,2487200875,20141209T000000,604000,4,3,1960,5000,1,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,60a3d6e8bb6ca0237c0939ac,1954400510,20150218T000000,510000,3,2,1680,8080,1,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503